.stripe {
    background: repeating-linear-gradient(45deg,rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2) 10px,rgba(0, 0, 0, 0.3) 10px,rgba(0, 0, 0, 0.3) 20px);
}

.button-dummy {
    margin: 10px;
    color: white;
    padding: 0.5em;
    border-radius: 5px;
}

.dummy-receipt {
    height: 100px;
    color: white;
    font-size: 24px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.dummy-banner {
    color: white;
    font-size: 24px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.dummy-amount-200, .dummy-amount-1000 {
    border: white 1px solid;
    border-radius: 4px;
    padding: 4px;
    cursor: pointer;
}